[Unit]
Description=la carrera tracker
After=network.target

[Service]
Type=simple
User=USUARIO
WorkingDirectory=/home/USUARIO/sigueme
Environment=ADMIN_TOKEN=CAMBIAME
# Environment=VIP_SIGUEME=IP_FLOTANTE
ExecStart=/usr/bin/python3 /home/USUARIO/sigueme/server.py 8710
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
